* {
  box-sizing: border-box;
}

body {
  font-family: 'Stalinist One', sans-serif;
  background-color: #1F1F1F;
}

h1, h2, h3, h4, a, span, a {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.wrapper {
  min-height: 100%;
}

.page {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.page__wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.page__pagination {
  position: absolute;
  top: 50%;
  right: 0px;
  margin-right: 25px;
  min-height: 185px;
  transform: translate(0px, -50%);
  display: flex;
  flex-direction: column;
}

.page__pagination_line {
  display: flex;
  align-items: center;
  position: fixed;
  width: 2px;
  background-color: rgba(255, 255, 255, 0.35);
}

.page__bullet {
  width: 15px;
  height: 15px;
  cursor: pointer;
  background-color: #fff;
  margin-top: 10px;
  opacity: 0.9;
  margin-bottom: 10px;
  border-radius: 50%;
  transition: background-color 0.3s ease 0s;
}

.page__bullet:nth-child(1) {
  margin-top: 0;
}

.page__bullet:nth-child(6) {
  margin-bottom: 0;
}

.page__bullet_active {
  width: 20px;
  height: 20px;
  transition: 0.2s;
  background-color: #fff;
}

.page__scroll {
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  background-color: #00000075;
}

.page__drag-scroll {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #00000070;
  cursor: pointer;
}

.button {
  outline: none;
  border: none;
  cursor: pointer;
  font-family: 'Stalinist One', sans-serif;
}

.screen {
  flex: 1 0 100%;
  position: relative;
}

.screen__content {
  padding-top: 100px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  position: relative;
  z-index: 2;
}

.screen__body {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.screen__image {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.google-map {
  margin-top: 100px;
  width: 575px;
  height: 575px;
}

@media (min-width: 992px) {
  .menu__link:hover {
    color: #FFC64F;
  }
  .menu__link_buy:hover {
    color: #1F1F1F;
  }
  .icon-first-block__button:hover {
    transition: 0.3s;
    color: #00000086;
    border: 2px solid #00000069;
  }
  .icon-second-top__image:hover {
    transform: rotate(-2deg);
    transition: 0.5s;
  }
  .icon-second-bottom__image:hover {
    transform: rotate(-2deg);
    transition: 0.5s;
  }
  .icon-second-bottom-right__social-ig:hover, .icon-second-bottom-right__social-vk:hover, .icon-second-bottom-right__social-tg:hover {
    transition: 0.2s;
    fill: #fff;
  }
  .icon-fourth__li:hover {
    transform: rotate(-1deg);
    transition: 0.5s;
  }
  .icon-fifth-block:hover {
    transform: rotate(-2deg);
    transition: 0.5s;
  }
  .icon-fifth-block-right__button:hover {
    transition: 0.2s;
    opacity: 0.5;
  }
  .icon-sixth-block-top__button:hover {
    transform: rotate(-2deg);
    transition: 0.5s;
    color: #ffc64f;
    border: 2px solid #ffc64f;
  }
  .icon-sixth-block-bottom__social-ig:hover, .icon-sixth-block-bottom__social-vk:hover, .icon-sixth-block-bottom__social-tg:hover {
    transition: 0.2s;
    fill: #ffffffa4;
  }
}

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 50;
  padding: 0 20px;
  background-color: #111111;
}

.menu {
  display: flex;
  max-width: 950px;
  justify-content: space-between;
  min-height: 54px;
  margin: 0 auto;
  align-items: center;
}

.menu__link {
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  transition: color 0.3s ease 0s;
  font-weight: 900;
  font-size: 11px;
  line-height: 12px;
  color: #FFFFFF;
}

.menu__link:nth-child(5)._active {
  color: #000;
}

.menu__link._active {
  color: #FFC64F;
}

.menu__link_buy {
  display: flex;
  border-radius: 150px;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 32px;
  background-color: #FFC64F;
  order: 1;
}

.icon-first {
  background-image: url(../img/1/main-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.icon-first-block {
  position: fixed;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
}

.icon-first-block__image {
  position: relative;
}

.icon-first-block__image::before {
  content: "";
  position: absolute;
  top: -34%;
  left: -27%;
  background-image: url(../img/1/music.png);
  width: 136px;
  height: 136px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

.icon-first-block__image::after {
  content: "";
  position: absolute;
  bottom: -20%;
  right: -29%;
  background-image: url(../img/1/date.png);
  width: 145px;
  height: 145px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
}

.icon-first-block__button {
  position: absolute;
  top: 120%;
  width: 305px;
  height: 50px;
  right: 20%;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 150px;
  font-weight: 900;
  font-size: 16px;
  line-height: 19px;
}

.page__screen-2 {
  background-color: #FFC64F;
}

.icon-second {
  display: flex;
  flex-direction: column;
  padding-top: 90px;
}

.icon-second__title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 60px;
  line-height: 73px;
  color: #111111;
}

.icon-second__subtitle {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: #111111;
  margin-top: 35px;
  margin-bottom: 35px;
}

.icon-second-top {
  display: flex;
}

.icon-second-top__image {
  width: 260px;
  margin-right: 22px;
}

.icon-second-bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.icon-second-bottom-left {
  display: flex;
  flex-direction: row;
  margin-right: 20px;
}

.icon-second-bottom-right {
  font-family: 'Reggae One', cursive;
  font-size: 14px;
  line-height: 18px;
  color: #111111;
}

.icon-second-bottom-right__social {
  display: flex;
  margin-top: 16px;
}

.icon-second-bottom-right__social-vk {
  width: 25px;
  height: 25px;
  margin-right: 4px;
}

.icon-second-bottom-right__social-ig {
  width: 25px;
  height: 25px;
  margin-right: 4px;
}

.icon-second-bottom-right__social-tg {
  width: 25px;
  height: 25px;
}

.icon-second-bottom__image {
  margin-right: 5px;
}

.page__screen-3 {
  background-image: url(../img/3/bg-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.icon-third {
  padding-top: 90px;
}

.icon-third__title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 50px;
  line-height: 73px;
  color: #111111;
  margin-bottom: 20px;
}

.icon-third__text-big {
  font-weight: 900;
  font-size: 42px;
  line-height: 53px;
}

.icon-third__text-average {
  max-width: 440px;
  margin-top: 40px;
}

.icon-third__text-small {
  display: inline-block;
  font-size: 14px;
  line-height: 1.2em;
  max-width: 440px;
}

.page__screen-4 {
  background-image: url(../img/4/bg-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.icon-fourth {
  padding-top: 90px;
}

.icon-fourth__title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 60px;
  line-height: 73px;
  color: #111111;
  margin-bottom: 54px;
}

.icon-fourth__image {
  margin-right: 21px;
}

.icon-fourth__ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.icon-fourth__li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 25px;
  font-weight: 900;
  font-size: 14px;
  line-height: 18px;
  color: #111111;
}

.page__screen-5 {
  background-color: #FFC64F;
}

.icon-fifth {
  padding-top: 90px;
}

.icon-fifth__title {
  font-weight: 900;
  font-size: 60px;
  line-height: 73px;
  text-transform: uppercase;
  color: #111111;
}

.icon-fifth__subtitle {
  max-width: 633px;
  font-size: 16px;
  line-height: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.icon-fifth-line {
  width: 1px;
  min-height: 100%;
  border: 1px dashed #000;
}

.icon-fifth-blocks {
  display: flex;
  flex-wrap: wrap;
}

.icon-fifth-block {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 520px;
  min-height: 180px;
  background-color: #fff;
  border-radius: 15px;
  margin-bottom: 20px;
  margin-right: 30px;
}

.icon-fifth-block-left {
  width: 280px;
  flex-shrink: 0;
}

.icon-fifth-block-left__date {
  display: inline-block;
  padding-top: 10px;
  padding-left: 18px;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  padding-bottom: 17px;
}

.icon-fifth-block-left__block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-fifth-block-left__block-title {
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

.icon-fifth-block-left__block-subtitle {
  font-weight: normal;
  font-size: 7px;
  line-height: 30px;
  text-align: center;
  padding-bottom: 16px;
}

.icon-fifth-block-left__block-rent {
  font-weight: normal;
  font-size: 7px;
  line-height: 11px;
  text-align: center;
  color: #C4C4C4;
}

.icon-fifth-block-right {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: center;
}

.icon-fifth-block-right__button {
  width: 160px;
  height: 32px;
  background-color: #FFC64F;
  color: #fff;
  flex-shrink: 0;
  font-size: 10px;
  line-height: 12px;
  border-radius: 150px;
  text-align: center;
  margin-bottom: 23px;
}

.icon-fifth-block-right__text {
  font-weight: normal;
  font-size: 9px;
  line-height: 11px;
  text-align: center;
  margin-bottom: 10px;
  color: #C4C4C4;
}

.icon-fifth-block-right__text:nth-child(1) {
  color: #000;
}

.page__screen-6 {
  background-color: #1F1F1F;
}

.icon-sixth {
  padding-top: 90px;
  color: #fff;
}

.icon-sixth__blocks {
  display: flex;
  justify-content: space-between;
}

.icon-sixth-block-top {
  display: flex;
  width: 305px;
  flex-direction: column;
  align-items: flex-start;
}

.icon-sixth-block-top__title {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 50px;
  line-height: 73px;
  margin-bottom: 50px;
}

.icon-sixth-block-top__number {
  color: #B5B5B5;
  font-size: 14px;
  line-height: 27px;
}

.icon-sixth-block-top__email {
  color: #B5B5B5;
  font-size: 14px;
  line-height: 27px;
  margin-bottom: 36px;
}

.icon-sixth-block-top__cont {
  font-size: 15px;
  margin-bottom: 25px;
  line-height: 27px;
}

.icon-sixth-block-top__buttons {
  display: flex;
  width: 410px;
  max-width: 410px;
}

.icon-sixth-block-top__button {
  width: 200px;
  height: 32px;
  background-color: inherit;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 150px;
  font-size: 10px;
  line-height: 12px;
  text-align: center;
  margin-right: 10px;
}

.icon-sixth-block-bottom {
  margin-top: 100px;
}

.icon-sixth-block-bottom__name {
  font-size: 9px;
  line-height: 11px;
  margin-top: 19px;
  color: #525252;
}

.icon-sixth-block-bottom__social {
  display: flex;
  margin-top: 16px;
}

.icon-sixth-block-bottom__social-vk {
  fill: #fff;
  width: 25px;
  height: 25px;
  margin-right: 4px;
}

.icon-sixth-block-bottom__social-ig {
  fill: #fff;
  width: 25px;
  height: 25px;
  margin-right: 4px;
}

.icon-sixth-block-bottom__social-tg {
  fill: #fff;
  width: 25px;
  height: 25px;
}
/*# sourceMappingURL=style.css.map */