@media ( min-width: 992px )
    .menu
        &__link
            &:hover
                color: #FFC64F
            &_buy
                &:hover
                    color: #1F1F1F
    .icon
        &-first
            &-block
                &__button
                    &:hover
                        transition: 0.3s
                        color: #00000086
                        border: 2px solid #00000069
        &-second
            &-top
                &__image
                    &:hover
                        transform: rotate(-2deg)
                        transition: 0.5s
            &-bottom
                &__image
                    &:hover
                        transform: rotate(-2deg)
                        transition: 0.5s
                &-right
                    &__social
                        &-ig,&-vk,&-tg
                            &:hover
                                transition: 0.2s
                                fill: #fff
        &-fourth
            &__li
                &:hover
                    transform: rotate(-1deg)
                    transition: 0.5s
        &-fifth
            &-block
                &:hover
                    transform: rotate(-2deg)
                    transition: 0.5s
                &-right
                    &__button
                        &:hover
                            transition: 0.2s
                            opacity: 0.5
        &-sixth
            &-block
                &-top
                    &__button
                        &:hover
                            transform: rotate(-2deg)
                            transition: 0.5s
                            color: #ffc64f
                            border: 2px solid #ffc64f
                &-bottom
                    &__social
                        &-ig,&-vk,&-tg
                            &:hover
                                transition: 0.2s
                                fill: #ffffffa4
